[submodule "asneg"]
	path = asneg
	url = https://git.ivesk.hs-offenburg.de/niki4-0/asneg.git
[submodule "niki/opcua-sensor-interface"]
	path = niki/opcua-sensor-interface
	url = https://git.ivesk.hs-offenburg.de/niki4-0/opcua-sensor-interface.git
[submodule "niki/opcua-lwm2m-server"]
	path = niki/opcua-lwm2m-server
	url = https://git.ivesk.hs-offenburg.de/niki4-0/opcua-lwm2m-server.git
