[submodule "asneg"]
	path = asneg
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/asneg.git
[submodule "asneg-db-server"]
	path = asneg-db-server
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/asneg-db-server.git
[submodule "opcua-plugin/lwm2m-server"]
	path = opcua-plugin/lwm2m-server
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/lwm2m-server.git
[submodule "opcua-plugin/lwm2m-server-interface"]
	path = opcua-plugin/lwm2m-server-interface
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/lwm2m-server-interface.git
[submodule "cfg/etc/OpcUaStack/Nodes/sensor_xml_descriptions"]
	path = cfg/etc/OpcUaStack/Nodes/sensor_xml_descriptions
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/sensor_xml_descriptions.git
[submodule "opcua-plugin/gateway/helpers"]
	path = opcua-plugin/gateway/helpers
	url = https://redmine.hahn-schickard.de/opc-ua-gateway/helpers.git
